.footer {
    max-width: 1440px;
    min-height: 196px;
    background-color: #002529;
    margin: 0 auto;
    padding: 48px 0;

    &__card {
        display: flex;
        justify-content: space-between;
        @include for-tablet {
            flex-direction: column;
        }


    }
}

.footer__logo {
    display: flex;
    column-gap: 125px;

    @include for-tablet {
        display: flex;
        justify-content: space-between;
        column-gap: 0;
        padding-bottom: 30px;
    }
    @include for-phone {
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }
}

.footer__menu {
    display: flex;
    column-gap: 40px;
    
}

.logo__card {
    display: flex;
    flex-direction: column;
    row-gap: 29px;

    @include for-tablet {

    }

    a {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
}

.footer__menu-2 {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    @include for-tablet {
        text-align: right;
    }

    @include for-phone {
        text-align: center;
    }

    a {
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.footer__icon {
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;

    img {
        max-width: 104px;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        opacity: 0.6;
    }

    @include for-tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    @include for-phone {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}