.team {
    max-width: 1440px;
    min-height: 684px;
    background-color: #012F34;
    margin: 0 auto;
    padding-top: 160px;
    background-image: url('../images/team-bac-img.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    
    @include for-tablet {
        background-position-x: right;
        background-position-y: 0;
        padding: 100px 0 10px 50px;

    }

    @include for-phone {
        padding: 60px 0 50px 0;
    }

    &__card {

        display: flex;
        flex-direction: column;
        row-gap: 54px;

        @include for-phone {
            padding-left: 60px;
        }

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            max-width: 445px;
            color: #FFFFFF;
        }

        hr {
            max-width: 50px;
            height: 4px;
            background-color: #F67E7E;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        &-1 {
            display: flex;
            column-gap: 20px;

            @include for-phone {
                flex-direction: column;
                row-gap: 10px;
                justify-content: center;
                align-items: center;
                text-align: center  ;
            }
        }


        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #F67E7E;
            padding-bottom: 16px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            opacity: .8;
            max-width: 445px;
        }
    }
}

.teams {
    display: flex;
    justify-content: space-between;

    @include for-tablet {
        flex-direction: column;
        row-gap: 60px;
        

        h2 {
            font-size: 32px;
            line-height: 32px;
        }

        p {
            max-width: 478px;
            font-size: 15px;
            line-height: 25px;
        }

        h3 {
            font-size: 18px;
            line-height: 28px;
        }
    }

    @include for-phone {

        h2 {
            font-size: 32px;
            line-height: 32px;
            max-width: 240px;
        }

        p {
            max-width: 350px;
        }

    }
}


